---
---

@import "{{ site.theme }}";

body {
  background: rgb(155,250,184);
background: linear-gradient(0deg, rgba(155,250,184,1) 0%, rgba(111,123,139,1) 100%);
}
table, th, td {
  border: 1px solid;
}
th {background-color: #46b06d; color: #4c4c4c}
tr:nth-child(even) {background-color: #c7e9d4;}
tr:hover {background-color: #F5CBC9;}
