---
---

@import "{{ site.theme }}";

body {
  background-color: #f0fff7;
}
table, th, td {
  border: 1px solid;
}
th {background-color: #46b06d; color: #4c4c4c}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: coral;}
