---
---

@import "{{ site.theme }}";

body {
background: rgb(220,249,229);
background: -moz-linear-gradient(0deg, rgba(220,249,229,1) 0%, rgba(234,252,215,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(220,249,229,1) 0%, rgba(234,252,215,1) 100%);
background: linear-gradient(0deg, rgba(220,249,229,1) 0%, rgba(234,252,215,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dcf9e5",endColorstr="#eafcd7",GradientType=1);
}
table, th, td {
  border: 1px solid;
}
th {background-color: #46b06d; color: #4c4c4c}
tr:nth-child(even) {background-color: #c7e9d4;}
tr:hover {background-color: #F5CBC9;}
